* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a{
    color: white;
}
header {
    background-image: url(./img/image-back2.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: lightgrey;
}

.cabecalho {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

}

.cabecalho h1 {
    position: relative;
    bottom: 40px;
    font-size: 50px;

}



.botao1 {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.37);
    color: green;
    padding: 10px;
    margin-right: 5px;
    border-radius: 1px;
}

.botao2 {
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;

}

.imgGreen {
    width: 400px;
    height: 250px;



}

.cardEmpresa {

    margin: 40px 60px;
    padding: 20px;
}

.textoEmpresa {
    margin: 20px 100px;


}

.imgEmpresa {
    position: relative;
    top: 20px;
    right: 50px;

}

.container {
    display: flex;
    box-shadow: 0px 0px 50px -17px rgba(0, 0, 0, 0.75);
    padding: 50px;
}

.quote {
    position: relative;
    bottom: 40px;
    text-align: center;
    color: gray;
    
}

.content {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.content p {
    color: gray;
    margin: 0 20px;
}

.institucional {
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.empresa {
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.comunidade {
    width: 200px;
    height: 200px;
    margin: 0 20px;
} 

.btn {
    margin-top: 10px ;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: gray;
}

.conteudoImg{
    padding: 30px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px -17px rgba(0, 0, 0, 0.75);
    text-align: center;
    border: 1px solid lightgray;
}

.rodape {
    margin-top: 70px;
    color: gray;
    background-color: rgba(97, 199, 41, 0.381);
    padding: 20px;

}


.rodape .footertext {
    margin: 15px 0;
    color: black;
}

.footertext h4 {
    margin: 5px 0;

}

.rodape a {
    margin: 5px 0;
}

